.activeRoute {
    background-color: lightskyblue
}

li {
    max-width: 500px;
}

.LoggerService {
    background-color: lightgoldenrodyellow;
}

.AppComponent {
    background-color: lightcyan;
}

.ChildDefaultComponent {
    background-color: lightgreen;
}

.ChildPushComponent {
    background-color: lightseagreen;
}