.externalLink {
    color: blue;
}

.navLink {
    color: black;
    text-decoration: none;
    padding: 3px 5px;
    margin-right: 10px;
}

.activeRoute {
    background-color: lightsteelblue
}

li {
    max-width: 500px;
}