<div>
  <a routerLink="/default" routerLinkActive="activeRoute">Child Component</a>
  <a routerLink="/push" routerLinkActive="activeRoute">Push Component</a>
  <button type="button" (click)="onButtonClick()">Log button event.</button>
  <button type="button" (click)="onClearMessages()">Clear Messages</button>
</div>

<hr />

<router-outlet></router-outlet>

<hr />

<ol>
  <li *ngFor="let message of messages"
      [ngClass]="message.sourceKey">{{ message.sourceKey }}: {{ message.message }}</li>
</ol>