<a class="externalLink"
   href="https://angular.io/guide/lifecycle-hooks"
   target="_blank">https://angular.io/guide/lifecycle-hooks</a>

<hr />

<button type="button" (click)="onReloadClick()">Reload</button>
<button type="button" (click)="onButtonClick()">Log button event.</button>
<button type="button" (click)="onClearMessages()">Clear Messages</button>
<label>
  <input type="checkbox"
         [checked]="useRouter"
         (change)="useRouter = $event.target.checked" />
  Use router
</label>

<hr />

<ng-container *ngIf="useRouter">
  <div>
    <a class="navLink" routerLink="/default/A" routerLinkActive="activeRoute">Default Child (A)</a>
    <a class="navLink" routerLink="/default/B" routerLinkActive="activeRoute">Default Child (B)</a>
    <a class="navLink" routerLink="/push/A" routerLinkActive="activeRoute">On-Push Child (A)</a>
    <a class="navLink" routerLink="/push/B" routerLinkActive="activeRoute">On-Push Child (B)</a>
  </div>
  <hr />
  <router-outlet></router-outlet>
</ng-container>

<div *ngIf="!useRouter">
  <app-child-default></app-child-default>
  <app-child-push></app-child-push>
</div>

<hr />

Note: Data logged JavaScript console window.

<!--<ol>
  <li *ngFor="let message of messages"
      [ngClass]="message.sourceKey">{{ message.sourceKey }}: {{ message.message }}</li>
</ol>-->